h1{

    font-family: 'Times New Roman', Times, serif;

    font-size: 100px;

}
h2{

    font-family: 'Times New Roman', Times, serif;

    font-size: 50px;

}
a{

    font-size: 100px;

}
#uno{

width: 500px;

height: 500px;



}
#dos{

    width: 500px;
    
    height: 500px;
    
    
    
    }
#tres{

        width: 500px;
        
        height: 500px;
        
        
        
        }
#cuatro{

    width: 500px;
    
    height: 500px;
    
    
    
    }
#quinto{

        width: 500px;
        
        height: 500px;
        
        
        
        }
#sexto{

            width: 500px;
            
            height: 500px;
            
            
            
            }
#septimo{

                width: 500px;
                
                height: 500px;
                
                
                
                }
                #octavo{

                    width: 500px;
                    
                    height: 500px;
                    
                    
                    
                    }
                    #noveno{

                        width: 500px;
                        
                        height: 500px;
                        
                        
                        
                        }
